


.order-form{
   
    // background-image: url("../../assets/images/image.jpg");
   

    &__wrapper{
        height: 448px;
        background-image: url("../../assets/images/bgImage.png");
        background-repeat: no-repeat;
    }
}